/* основной цвет #212121*/
/* вспомогательный цвет #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.page-header {
  background-color: teal;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* логотип */

.logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo > span {
  color: var(--accent-color);
}
/* Навигация */

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
  outline: 2px solid red;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* hero */

.hero {
  text-align: center;
}

.hero-title {
  /* width: 646px; */
  margin-top: 200px;
  margin-bottom: 46px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  outline: 1px solid tomato;
}

.button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  outline: 2px solid black;
}

.hidden-title {
  display: none;
}

.section .section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;

  background-color: tomato;
}

.section .section-text {
  margin-top: 0;
  margin-bottom: 94px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* карточки товара */

/* .exampls { */
/* outline: 2px solid green; */
/* } */

.exampls-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  background-color: tomato;
}

.exampls-text {
  margin-top: 0;
  margin-bottom: 0;
  padding: 27px 0px 27px 0px;
  width: 380px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

.img {
  display: block;
}

/* карточки работников */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team .team-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  background-color: red;
}
.team .team-title-short {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .team-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  background-color: tomato;
}

/* футер */

footer {
  color: var(--primary-white-color);
  background-color: #2f303a;
}

.second-logo {
  display: inline-block;
  margin-bottom: 10px;
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  /* background-color: tomato; */
}

.second-logo > span {
  color: var(--accent-color);
}

.contacts .contacts-text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contacts .contacts-link {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contacts .tell-link {
  display: inline-block;
  /* margin-bottom: 9px; */
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.button-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.button-second {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 45px;
  border: 0px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.author {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 21px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Страничка портфолио!!!! */

/* Кнопки */

.btn .btn-title {
  display: none;
}

.btn .btn-type {
  text-align: center;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  color: var(--primary-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.btn .btn-type:hover,
.btn .btn-type:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

/* Карточки товаров */

.group a {
  text-decoration: none;
}

.group .group-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.group .group-text-short {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.group .group-text {
  color: var(--primary-white-color);
  background: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}
